.styleSelector {
  grid-column: 2;
  grid-row: 2/3;
  display: grid;
  height: 100%;
  border: 1px solid black;
}

.styleSelector h2 {
  display: flex;
  justify-self: center;
  align-self: center;
}

.styleSelector .stylesDisplay {
  display: flex;
  flex-direction: row;
}

.styleSelector .stylesDisplay .style {
  margin: 2px 2px 2px 2px;
  padding-bottom: -10px;
  height: 100px;
  width: 140px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  /* align-self: center; */
}

.styleSelector .stylesDisplay .style img {
  max-height: 95px;
  max-width: 130px;
}