.imageGallery {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column: 1;
  grid-row: 1/4;
  height: 680px;
  width: 760px;
  padding: 10px;
  margin: 10px;
  border-bottom: 2px solid rgb(220, 220, 220);
}

.imageGallery .DV {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.left, .right {
  margin: 20px;
}


.left:hover, .right:hover {
  color: black;
}

.left button, .right button {
  color: grey;
  background-color: white;
  border: none;
  transition: all 0.25s ease;
}

button:focus {
  outline: none;
  box-shadow: none;
}

.right button:hover, .left button:hover {
  cursor: pointer;
  color: black;
}

.imageGallery .defaultView {
  grid-column: 2;
  grid-row: 1;
  height: 575px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  /* border: 1px rgb(98, 98, 98) solid; */
  overflow: hidden;
}

.imageGallery .defaultView img {
  max-width: 550px;
  max-height: 575px;
}

/* [2] Transition property for smooth transformation of images */
.defaultView img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.defaultView:hover img {
  transform: scale(1.5);
  cursor: cell;
}

.imageGallery .TN {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  height: 485px;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
}

.imageGallery .thumbnailView .thumbnails {
  height: 485px;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-content: center; */
  /* border: 3px orange solid; */
  overflow: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  padding-bottom: 10px;
}


.arrow {
  align-self: flex-start;
  width: 75px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;
  bottom: 20px;
  background-color: rgba(20, 20, 20, 0);
}

/* .arrow .fa {
  justify-content: center;
  align-items: center;
} */

.thumbnails::-webkit-scrollbar {
  display:none;
}

.thumbnail {
  padding-bottom: 10px;
}

.imageGallery .thumbnailView .thumbnail .selected {
  /* margin-bottom: -5px;
  padding-top: -2px;
  padding-bottom: 2px; */
  border-bottom: 3px solid grey;
}

.imageGallery .thumbnailView img {
  position: relative;
  object-fit: cover;
  top: 2px;
  height: 100px;
  width: 75px;
  padding-bottom: 2px;
  border-bottom: 3px solid white;
  transition: all 0.5s ease;
}

.imageGallery .thumbnailView img:hover {
  border-bottom: 3px solid grey;
}
