.imageGallery {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column: 1;
  grid-row: 2/3;
  height: 700px;
  width: 100%;
  border: 1px solid black;
}

.imageGallery .defaultView {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px black solid;
}

.imageGallery .defaultView img {
  max-width: 500px;
  max-height: 500px;
}

.imageGallery .thumbnailView {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px pink solid;
}

.imageGallery .thumbnailView img {
  max-height: 30px;
  max-width: 30px;
}