.productInformation {
  grid-column: 1/2;
  grid-row: 1/2;
  height: 100%;
  border: 1px solid black;
}

.productInformation .title {
  font-size: 20px;
  font-weight: 700;
}

.productInformation .price {
  font-size: 16px;
  font-weight: 600;
}
