#PD {
  height: 800px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.productDetails {
  margin: 8px;
  display: grid;
  grid-template-columns: 7fr 4fr;
  grid-template-rows: 1fr 1fr 1fr;
}
