.cardImg {
  width: 100%;
  height: 60%;
  object-fit: cover;
}

.card {
  position: relative;
  width: 400px;
  height: 600px;
  float: left;
  margin: 5px;
  background-color: rgb(237, 237, 237);
}

.cardName {
    color: black;
    text-decoration: none;
}