.comparison {
  border: solid;
  width: 500px;
  height: fit-content;
}

#compareTitle {
  position: relative;
}

#compareCurrentName {
  margin-right: 70px;
}

#compareClickedName {
  margin-left: 70px;
}
