.relatedProductsList {
  overflow:hidden;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;

}

/* Hide scrollbar for Chrome, Safari and Opera */
.relatedProductsList::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.relatedProductsList {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.yourOwnOutfitList {
  display: flex;
}

.addToOutfit {
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 400px;
  height: 600px;
  float: left;
  margin: 5px;
  justify-content: center;
  align-items: center;
  background-color: rgb(237, 237, 237);
};

.addToOutfitButton {
  display: block;
}

.addToOutfitText {
  display: block;
  margin-right: 10px;
}
