.price {
  display: block;
  height: 20px;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
  position: absolute;
  bottom: 60px;
}

.sale {
  height: 20px;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sale strike {
  color: grey;
}

.sale .salePrice {
  color: rgb(221, 63, 0);
}