.answerA {
  font-weight: bold;
  grid-column: 1;
}

.answerList {
  display: grid;
  /* justify-content: flex-start; */
  grid-template-columns: auto 1fr;
  margin-top: -10px;
}

.answerListContent {
  grid-column: 2;
  margin-top: 16px;
  max-height: 50vh;
  overflow: auto;
}

.buttonLink {
  background: none!important;
  border: none;
  padding: 0!important;
  color: #555;
  text-decoration: underline;
  cursor: pointer;
  outline: none;
}

.buttonLinkDisabled {
  text-decoration: none;
  cursor: default;
}

.buttonLink:active {
  color: #ccc;
}

.buttonLink:hover {
  color: gray;
  text-decoration: underline gray 2px;
}

.expandAnswers {
  grid-column: 2;
  justify-self: start;
  font-weight: bold;
  text-decoration: none;
}

.expandAnswers:hover {
  color: gray;
}
