.answerContent {
  display: grid;
  grid-template-rows: auto auto;
}

.answerText {
  display: inline-block;
  margin: 0;
  word-wrap: break-word;
  word-break: break-all;
  max-width: 75%;
}

.answerImg {
  margin-top: 16px;
  margin-right: 16px;
  object-fit: cover;
  height: 64px;
  width: 100px;
}

.answerImg:hover {
  cursor: pointer;
}