.blocker {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: ' ';
  z-index: 101;
  background: rgba(0,0,0,.5);
}

.modal {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.4s, opacity 0.4s ease-in-out;
  z-index: 110;
}

.modalShow {
  visibility: visible;
  opacity: 1;
  z-index: 110;
}

.imageModal {
  position:fixed;
  top:50%;
  left:50%;
  width: auto;
  height: fit-content;
  background-color: white;
  z-index: 110;
  padding: 5px;
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  max-width: 100%;
}

.imageContent {
  position: relative;
}

.imageContent img {
  width: auto;
  max-height: 90vh;
  max-width: 90vw;
}

.imageContent img:before {
  content: "We're sorry, the image below is broken :(";
  display: block;
  margin-bottom: 10px;
}

.imageContent img:after {
  content: "(url: " attr(src) ")";
  display: block;
  font-size: 12px;
}

.exitButton {
  position: absolute;
  top: 2px;
  right: 2px;
  background: none;
  background-color: white;
  border: none;
  border-radius: 50%;
  outline: none;
  font-size: 20px;
  font-family: 'Lato', sans-serif, Arial;
  font-weight: 300;
  color: black;
  transition: all 0.2s ease-in-out;
  transition: visibility 0s ease-in-out;
  height: 24px;
  width: 24px;
  box-shadow: -2px 2px 5px rgb(0 0 0 / 15%);
}

.exitButton:hover {
  color: white;
  cursor: pointer;
  background-color: black;
  border-radius: 50%;
  box-shadow: none;
}

.exitButtonDiv {
  position: absolute;
  right: 6px;
  bottom: 1px;
}