.buttonLink {
  background: none!important;
  border: none;
  padding: 0!important;
  color: #555;
  font-size: 16px;
  font-family: 'Lato', 'sans-serif';
  text-decoration: underline;
  cursor: pointer;
  outline: none;
}

.buttonLink:active {
  color: #ccc;
}

.buttonLink:hover {
  color: gray;
  text-decoration: underline gray 2px;
}

.buttonLinkDisabled {
  text-decoration: none;
  cursor: default;
}

.buttonLinkDisabled,
.buttonLinkDisabled:hover {
  text-decoration: none;
  cursor: default;
  color: #555;
}

.answerNameAndDate {
  color: #767676;
}

.answerNameSeller {
  font-weight: bold;
}

.answerHelpful,
.answerReport {
  color: #555;
}