.modal {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.4s, opacity 0.4s ease-in-out;
}

.modalShow {
  visibility: visible;
  opacity: 1;
  z-index: 110;
}

.blocker {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: ' ';
  z-index: 101;
  background: rgba(0,0,0,.5);
}

.form {
  position:fixed;
  top: calc(50% + 36px);
  left:50%;
  width: 500px;
  height: fit-content;
  background-color: white;
  z-index: 110;
  padding: 20px;
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
}

.formHeader {
  display: grid;
  grid-template-columns: 100% auto;
  padding: 20px;
}

.formHeader h3,
.formSubTitle {
  margin: 0 auto;
}

.formHeader h3 {
  grid-row: 1;
}

.formSubTitle {
  color: gray;
  font-weight: 400;
  grid-row: 2;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.formHeaderExpanded {
  text-align: center;
}

.formTitle {
  display: grid;
}

.exitButton {
  align-self: flex-start;
  background: none;
  border: none;
  outline: none;
  font-size: 20px;
  font-family: 'Lato', sans-serif, Arial;
  font-weight: 300;
  color: black;
  transition: all 0.2s ease-in-out;
  margin-top: -26px;
  height: 24px;
  width: 24px;
}

.exitButton:hover {
  color: white;
  cursor: pointer;
  background-color: black;
  border-radius: 50%;
}

.exitButton span {
  position: relative;
  bottom: 2px;
}

.formContent {
  border-radius: 5px;
  padding: 20px;
  padding-top: 0;
}

.form input[type=text],
.form input[type=email],
.form input[type=file],
.form textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

.form input[type=file] {
  width: 1px !important;
  height: 1px !important;
  z-index: 0;
  padding: 0;
  border: none;
}


.file {
  opacity: 0;
  width: 1px;
  height: 1px;
  max-width: 100%;
  margin-bottom: 6px !important;
  position: absolute;
}

.form input::placeholder {
  font-family: 'Lato', 'sans-serif';
}

.form textarea {
  resize: none;
}

.invalidField {
  border: 1px solid crimson !important;
}

.submitButton,
.submitButtonDisabled,
.uploadPhoto,
.uploadPhotoDisabled {
  width: 100%;
  outline: none;
  border: 1px solid black;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  background: black;
  color: white;
  transition: all 0.2s ease-in-out;
}

.uploadPhoto,
.uploadPhotoDisabled {
  background: white;
  border: 1px solid black;
  color: black;
  z-index: 1;
}

.exitButton,
.submitButton,
.submitButtonDisabled,
.uploadPhoto,
.uploadPhotoDisabled {
  transition: visibility 0s ease-in-out;
}

.uploadPhoto,
.uploadPhotoDisabled {
  margin: 6px auto;
}

.submitButton:hover {
  cursor: pointer;
  background: white;
  color: black;
}

.uploadPhoto:hover {
  cursor: pointer;
  background: black;
  color: white;
}

.uploadError,
.errorMessage {
  text-align: center;
  color: crimson;
}

.errorMessage {
  margin-top: 16px;
}

.uploadError {
  margin-bottom: 16px;
}

.uploadButtonText {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.fieldDescription {
  margin-top: -10px;
  color: #555;
}