/* .questionForm {
  background-color: pink;
} */

.questionFormHeader {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.questionFormHeader h3,
.questionFormHeader h4 {
  margin: 0 auto;
}

.questionFormHeader h4 {
  color: #ccc;
}

.exitButton {
  align-self: flex-start;
}

.questionFormContent {
  border-radius: 5px;
  padding: 20px;
}

.questionForm input,
.questionForm textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  /* border-radius: 4px; */
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.submitQuestionButton {
  /* align-self: center; */
  width: 100%;
  outline: none;
  border: 1px solid black;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  background: none;
  transition: all 0.2s ease-in-out;
}

.submitQuestionButton:hover {
  cursor: pointer;
  background: black;
  color: white;
}

.errorMessage {
  color: crimson;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

