.searchBar {
  margin-top: -40px;
}

.searchBar input {
  box-sizing: border-box;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  height: 64px;
  border: solid 1px black;
}

.searchBar input::placeholder {
  font-family: 'Lato', 'sans-serif';
  font-weight: bold;
}

.searchBar i {
  position: relative;
  margin-top: 0;
  top: 55px;
  left: calc(100% - 50px);
}